<body>
    <!-- Nav Bar -->
    <nav class="navbar is-dark is-white" role="navigation" aria-label="main navigation">
        <!-- logo info -->
        <div class="navbar-brand">
            <a class="navbar-item" href="/dashboard">
                <img src="/images/BlockyLogo.png" alt="Logo" style="max-height: 35px;">
            </a>
            <h1 class="title mt-2 mb-1" style="color: lightgreen">Flavor Fuel</h1>
            <a href="" class="navbar-burger" id="burger" data-target="nav-links">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>

        <!-- links -->
        <div class="navbar-menu" id="nav-links">
            <div class="navbar-start">
                <a href="/home" class="navbar-item">Home</a>
                <a href="/food" class="navbar-item">Log Food</a>
                <a href="/recipes" class="navbar-item">Find recipes</a>
            </div>
        </div>
    </nav>