<body>

    <!-- Nav Bar -->
    <nav class="navbar is-dark is-white" role="navigation" aria-label="main navigation">
        <!-- logo info -->
        <div class="navbar-brand">
            <a class="navbar-item" href="https://github.com/Will-Emery">
                <img src="" alt="Logo" style="max-height: 35px;">
            </a>
            <h1 class="title mt-2 mb-1" style="color: antiquewhite;"></h1>
            <a href="" class="navbar-burger" id="burger" data-target="nav-links">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>

        <!-- links -->
        <div class="navbar-menu" id="nav-links">
            <div class="navbar-start">
                <a href="/" class="navbar-item"></a>
                <a href="about_me" class="navbar-item"></a>
                <a href="contact" class="navbar-item"></a>
                <a href="blog" class="navbar-item"></a>
                <a href="projects" class="navbar-item"></a>
            </div>
        </div>
    </nav>