<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <meta charset="UTF-8" />
    <title>Flavor Fuel - Log In</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="/js/login_scripts.js"></script>
</head>

<body class="has-background-grey-light">

    <script>check_local_storage()</script>
    <section class="section">
        <div class="container">
            <div class="box">
                <h1 class="title">Log In</h1>
                <form action="/login" method="post">
                    <div class="field">
                        <label class="label">Username/Email</label>
                        <div class="control">
                            <input class="input is-rounded" type="text" name="username" placeholder="Username">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Password</label>
                        <div class="control">
                            <input class="input is-rounded" type="password" name="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control"></div>
                        <a href="/register">Don't have an account?</a>
                        <a href="/forgot">Forgot your password?</a>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button class="button is-success is-rounded" type="submit">Login</button>
                            <button class="button is-warning is-rounded" type="submit">Continue as guest</button>
                        </div>
                        <div class="control">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>

</html>