<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Recipes</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.css" />
    <script src="recipe_scripts.js"></script>
</head>

<%- include('header') %>

    <body class="has-background-grey-light">
        <section class="section">
            <div class="box">
                <div class="container">
                    <h1 class="title">Recipes</h1>
                    <p>This is the recipes section. Here you can look through some of the yummiest recipes on the
                        interent! All of the recipes in our database have nutrition information as well as the needed
                        ingredients. Our goal is to help make meeting your goals easy and full of amazing flavor!</p>
                </div>
            </div>

        </section>

    </body>

</html>

<%- include('footer') %>